@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.body-bg{
background-color:rgb(250, 249, 249);
}
.main-bg{
  background-color: #FFE8C8;
}
/* bg for best product title */
.tbg{
  color: #6B8A7A;
}
.title-color{
  color: #020a79;
}
/* footer sytle  */
.Footer-bg{
  background-color: #FFE8C8;
}

/* Custom CSS for hover effect */
.logo-show {
  transition: all 0.5s ease-in-out;
}

.logo-show:hover:hover {
  box-shadow: 0px 0px 10px   10px rgba(51, 247, 74, 0.6); /* Blue light shadow */
  border-radius: 50%; /* Make the logo round */
}